/*Global styles*/
body {
  font-size:20pt;
    font-family: 'Montserrat', sans-serif;
    margin:0px;
    padding: 0px;
    background-color:#f6f6f8;
}
.head{
  text-align: center;
  margin-bottom:100px;
  font-weight: bolder;
  margin-top: 150px;
}
h5{
  padding-top:30px ;
}

/*styling navBar*/
ul{
  list-style-type:none;
  background-color:#333333;
  display: flex;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width:100%;
}
li{
  border-bottom:5px solid #333333;
}
li a{
  display: block;
  text-decoration:none;
  color: white;
  padding:15px;
  margin: 0;
}

/*styling sections*/
.sec{
  box-shadow:1px 1px 20px gray;
  background-color:#E3E3E3;
  padding: 10px;
  margin: 50px 10px;
}

/*styling activeClass for section and navBar*/
.active{
  border-bottom:5px solid #B0B0B5;
  transition: .5s ease-in-out;
}

.your-active-class .sec{
  box-shadow: 2px 2px 20px gray;
  border-radius: 10px;
  border:4px solid #363636ff;
  transition: 1s ease-in-out;
}